@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #B9D0FF;
}

::-webkit-scrollbar-track {
  background-color: #090D1D;
}

/* Para Firefox */
* {
  scrollbar-color: #B9D0FF transparent;
}

div.slick-dots li button:before {
  content: "";
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #B4B4B4;
}

div.slick-dots li.slick-active button:before {
  background-color: white;
}

div.slick-dots li button {
  text-indent: -9999px;
}

#map {
  height: 400px;
}

.bg-gradient-repeating {
  background: repeating-linear-gradient(
    to bottom,
    #090D1D 0%,
    #090D1D 33%,
    #ffffff 33%,
    #ffffff 66%,
    #090D1D 66%,
    #090D1D 100%
  );
}